<!DOCTYPE html>
<html lang="pl-PL">
{% extends "base-login.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Tytuł</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{#{% include 'components/navbar-login.html' %}#}
<div class="item">
    <h1>Zarejestruj się</h1>
    <form action="." method="POST">

    {% csrf_token %}
        {% for field in form %}
            <div>
            <br>{{ field.name }}<br>
            {{ field }}<br>
            {{ field.help_text }}
            </div>
        {% endfor %}

{#        {{ form.as_p }}#}
    <button class="button" type="submit">ZATWIERDŹ</button>
    </form>
</div>
{% include 'components/footer.html' %}
</body>
</html>
{% endblock %}