.img{
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: rgb(0,77,77);
  display: flex;
  justify-content: center;
}
.item{
  margin: 8px auto;
  padding: 1px;
  background-color: #0A3E5A;
  width: 500px;
  border-radius: 15px;
  text-align: center;
  color: white;
}
.center{
  text-align: center;
}
.top {
  background-color: rgb(255,255,255);
  position: fixed;
  top: 3%;
    right: 10%;
}
.top-login {
  background-color: rgb(0,77,77);
  position: fixed;
  top: 3%;
    right: 10%;
}
.fixed {
  background-color: rgb(255,255,255);
  position: fixed;
  bottom: 0px;
}
.tabele{
    width: auto;
	margin: 20px;
	border: 2px solid #E2E2E4;
	border-spacing: 20px;
	text-align: center;
	padding: 10px 10px;
}
.content-table{
    border-bottom: 2px solid #E2E2E4;
}
.tabele table{
	width: 100%;
	margin: 1px auto;
}
.tabele tr{
	border-bottom: 2px solid #E2E2E4;
}
.tabele th{
	width: min-content;
}
.tabele td{
	width: min-content;
}
.title{
  font-weight: 900;
  font-size: 25px;
}