{%  if not "search" in  request.path %}
<form method="get" action=".">
    <label for="sort_by">Sortuj po:</label>
    <select name="sort_by" id="sort_by">
        {%  if "company" in  request.path%}
            <option value="name">Nazwa</option>
            <option value="next_contact_date">Następna data kontaktu</option>
            <option value="">Ranking</option>
            <option value="number_of_ratings">Ilość ocen</option>
        {% elif "industry" in  request.path%}
            <option value="name">Nazwa</option>
        {% elif "event" in  request.path%}
            <option value="name">Nazwa</option>
            <option value="local">Lokalne</option>
            <option value="active">Aktywne</option>
        {%  endif %}
    </select>
    <select name="order" id="order">
        <option value="asc">rosnąco</option>
        <option value="desc">malejąco</option>
    </select>
    <button class="button">sortuj</button>
</form>
{% endif %}
{%  if not "my" in  request.path and not "taken" in  request.path %}
<form method="post" action={%  if "search" in  request.path %}
{% else %}
"search/"
{% endif %}>
    {% csrf_token %}
{%  if not "contact" in  request.path %}
    <label for="search">Wyszukaj:</label>
    <input type="text" id="searched" name="searched">
    {%  if "company" in  request.path %}
        <select name="search_status" id="search_status">
            <option value="all">wszystkie</option>
            <option value="my">moje</option>
            <option value="not_taken">wolne</option>
            <option value="taken">zajęte</option>
        </select>
    {% endif %}
    {%  if "event" in  request.path %}
        <select name="search_status" id="search_status">
            <option value="all">wszystkie</option>
            <option value="active">aktywne</option>
            <option value="not_active">nieaktywne</option>
        </select>
    {% endif %}
    <button class="button">szukaj</button>
    </form>
    {% endif %}
{% endif %}
<script>
    document.getElementById("sort_by").value = getQueryParameter("sort_by") ?? "id"
    document.getElementById("order").value = getQueryParameter("order") ?? "malejąco"
    document.getElementById("searched").value = getQueryParameter("searched") ?? ""
    {#document.getElementById("company_status").value = getQueryParameter("company_status") ?? ""#}
    document.getElementById("search_status").value = getQueryParameter("search_status") ?? ""

    function getQueryParameter(parameterName) {
        var queryString = window.top.location.search.substring(1);
        var parameterName = parameterName + "=";
        if (queryString.length > 0) {
            begin = queryString.indexOf(parameterName);
            if (begin != -1) {
                begin += parameterName.length;
                end = queryString.indexOf("&", begin);
                if (end == -1) {
                    end = queryString.length
                }
                return unescape(queryString.substring(begin, end));
            }
        }
        return;
    }
</script>