{% extends "base.html" %}
{% block content %}
<div class="login-wrapper">

    <div class="message">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
        </div>

<h1>ZALOGUJ</h1>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

    <div class="input-wrapper">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="input-wrapper">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

    <div class="input-wrapper">
        <input class="button" type="submit" value="ZALOGUJ SIĘ">
    </div>

<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p class="lost-password"><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>
{% endblock %}