{% extends "base-login.html" %}
{% block content %}
<div class="login-wrapper">

    <div class="message">
{% if form.errors %}
<p>Nieprawidłowa nazwa użytkownika lub hasło.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Twoje konto nie ma dostępu do tej strony. Aby kontynuować,
        zaloguj się na konto, które ma dostęp.</p>
    {% else %}
    <p>Zaloguj się, aby zobaczyć tę stronę.</p>
    {% endif %}
{% endif %}
        </div>

<h1>ZALOGUJ</h1>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

    <div class="input-wrapper">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="input-wrapper">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

    <div class="input-wrapper">
        <input class="button" type="submit" value="ZALOGUJ SIĘ">
    </div>

<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}


</div>
{% endblock %}