<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szakal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
{% include 'components/navbar.html' %}
<div class="page-main">

{#<h2>Witaj, {{ request.user.username }}</h2>#}

<div class="page-content">
    {% block content %}
    {% endblock %}
</div>

{% include 'components/footer.html' %}
</div>
</body>
</html>