<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Szakal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
<div class="page-login">

    {% include 'components/navbar-login.html' %}

<div class="page-content">
    {% block content %}
    {% endblock %}
</div>

{% include 'components/footer.html' %}
</div>
</body>
</html>