{% extends "base.html" %}
{% block content %}
    <main>
        <h1>Wybierz kategorię</h1>

        {% include 'components/sort.html' %}

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
            </tr>
            </thead>
            <tbody>
            {% for category in object_list %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}
