{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1>Firmy</h1>
</div>
<main>
            <div class="tabele">
                <p style="text-align: left">{% include 'components/sort.html' %}
                </p>
                <p style="text-align: right"><a href="/company/list/add"><input class="button" type="submit" value="Dodaj Firmę"></a>
                </p>
                <div class="content-table"></div>
              <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th></th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Deleted</th>
                        <th>Deleted date</th>
                        <th>Rating</th>
                        <th>Number of ratings</th>
                        <th>Next contact date</th>
                        <th>Date created</th>
                        <th>Date updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in object_list %}
                    <tr>
                        <td><a href="/company/{{ company.id }}/company_details">{{ forloop.counter }}</a></td>
                        <td> <a href={{ company.www }}>{{ company.name }} </a></td>
                        <td>
                            {% if company.user.username == request.user.username %}
                                <a href="/company/list/{{ company.id }}/unassign"><input class="widebutton" type="submit" value="Wypisz mnie"></a>
                            {% elif company.user.username == null %}
                                <a href="/company/list/{{ company.id }}/assign"><input class="widebutton" type="submit" value="Przypisz mnie"></a>
                        {% endif %}
                        </td>
                        <td>{{ company.phone }}</td>
                        <td>{{ company.address }}</td>
                        <td>{{ company.deleted }}</td>
                        <td>{{ company.delete_date }}</td>
                        <td>{{ company.rating }}</td>
                        <td>{{ company.number_of_ratings }}</td>
                        <td>{{ company.next_contact_date }}</td>
                        <td>{{ company.created_at }}</td>
                        <td>{{ company.updated_at }}</td>
                    </tr>
                    <tr>
                        {% endfor %}
                    </tr>
                    </tbody>
              </table>
            </div>
</main>

<h2>{{ request.user.username }}</h2>

{% endblock %}