{% extends "base.html" %}
{% block content %}
<main>
            <div class="tabele-company">
                    <h1 class="title">Firmy</h1>
                <p style="text-align: left">{% include 'components/sort.html' %}
                </p>
                <p style="text-align: right"><a href="/company/list/add"><button class="button">Dodaj Firmę</button></a></p>

                <div class="content-table"></div>
              <table>
                    <thead>
                    <tr>
                        <th class="bold-tabele">ID</th>
                        <th class="bold-tabele">Name</th>
                        <th class="bold-tabele">Strona firmy</th>
                        <th class="bold-tabele">Assign</th>
                        <th class="bold-tabele">Update person name</th>
                        <th class="bold-tabele">Deleted</th>
                        <th class="bold-tabele">Rating</th>
                        <th class="bold-tabele">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a>{{ company.name }}</a>
                        <p>{{ company.address }}</p>
                        <p>{{ company.phone }}</p>
                        </td>
                    {% if 'http://' in company.www or 'https://' in company.www %}
                        <td> <a href={{ company.www }}><input class="button" type="submit" value="Strona"> </a></td>
                    {% else %}
                        <td> <a href="//{{ company.www }}"><input class="button" type="submit" value="Strona"> </a></td>
                    {% endif %}



                        <td>
                            {% if company.user.username == request.user.username %}
                                <a href="/company/list/{{ company.id }}/unassign"><input class="button" type="submit" value="Wypisz mnie"></a>
                            {% elif company.user.username == null %}
                                <a href="/company/list/{{ company.id }}/assign"><input class="button" type="submit" value="Przypisz mnie"></a>
                        {% endif %}
                        </td>
                        <td>{{ company.update_person_name }}</td>
                        <td>{{ company.deleted }}</td>
                        <td>{{ company.rating }}</td>
                        <td><a>Update: </a>{{ company.updated_at }}
                        <p><a>Created: </a>{{ company.created_at }}</p>
                        <p><a>Next contact date: </a>{{ company.next_contact_date }}</p>
                        <p><a>Delete date: </a>{{ company.delete_date }}</p></td>
                    </tr>
                    <tr>
                        {% endfor %}
                    </tr>
                    </tbody>
              </table>
            </div>
</main>

<h2>{{ request.user.username }}</h2>

{% endblock %}