{% extends "base.html" %}
{% block content %}
<main>
            <div class="tabele-event">
                <h1 class="title">Kontakty</h1>
                <p style="text-align: left">{% include 'components/sort.html' %}
                </p>
                <p style="text-align: right"><a href="/contact/list/add"><button class="button">Dodaj kontakt</button></a></p>

                <div class="content-table"></div>
                <table>
                    <thead>
                    <tr>
                        <th class="bold-tabele">ID</th>
                        <th class="bold-tabele">Osoba kontaktowa</th>
                        <th class="bold-tabele">Rodzaj</th>
                        <th class="bold-tabele">Event</th>
                        <th class="bold-tabele">Status</th>
                        <th class="bold-tabele">Firma</th>
                        <th class="bold-tabele">Przyjęty</th>
                        <th class="bold-tabele">Komentarz</th>
                        <th class="bold-tabele">Wskaźnik</th>
                        <th class="bold-tabele">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ contact.contact_person }}</td>
                        <td>{{ contact.type }}</td>
                        <td>{{ contact.event }}</td>
                        <td>{{ contact.status }}</td>
                        <td><a>{{ contact.company }}</a></td>
                        <td>{{ contact.accepted }}</td>
                        <td>{{ contact.comment }}</td>
                        <td>{{ contact.rating }}</td>
                        <td><a>Data: </a>{{ contact.date }}
                            <p><a>Data utworzenia: </a>{{ company.created_at }}</p>
                            <p><a>Data aktualizacji: </a>{{ company.updated_at }}</p></td>
                    </tr>
                    <tr>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
</main>
{% endblock %}
