{% extends "base.html" %}
{% block content %}
<div class="title">
        <h1>Kontakty</h1>
</div>
<main>
            <div class="tabele">
                <p style="text-align: left">{% include 'components/sort.html' %}
                </p>

                <p style="text-align: right"><a href="/contact/list/add"><input type="submit" value="Dodaj Nowy Kontakt"></a>
                </p>

                         <div class="content-table"></div>
                      <table>
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Contact person</th>
                                <th>Type</th>
                                <th>Event</th>
                                <th>Status</th>
                                <th>Company</th>
                                <th>Accepted</th>
                                <th>Date</th>
                                <th>Comment</th>
                                <th>Rating</th>
                                <th>Date created</th>
                                <th>Date updated</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for company in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ contact.contact_person }}</td>
                                <td>{{ contact.type }}</td>
                                <td>{{ contact.event }}</td>
                                <td>{{ contact.status }}</td>
                                <td>{{ contact.company }}</td>
                                <td>{{ contact.accepted }}</td>
                                <td>{{ contact.date }}</td>
                                <td>{{ contact.comment }}</td>
                                <td>{{ contact.rating }}</td>
                                <td>{{ company.created_at }}</td>
                                <td>{{ company.updated_at }}</td>
                            </tr>
                            <tr>
                                {% endfor %}
                            </tr>
                            </tbody>
                      </table>
            </div>
</main>

<h2>{{ request.user.username }}</h2>

{% endblock %}
