{% extends "base.html" %}
{% block content %}
    <main>
        <h1>Eventy</h1>

        <a href="/event/add">+Dodaj nowy event</a>

        {% include 'components/sort.html' %}

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {{ object }}
            {% for event in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.active }}</td>
                    <td><a href="/event/{{ event.id }}">edit</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}
