{% extends "base.html" %}
{% block content %}
    <main>
        <h1>Eventy</h1>

        <a href="/event/add">+Dodaj nowy event</a>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
                {% for event in object_list %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}
