{% extends "base.html" %}
{% block content %}
<main>
    <div class="tabele-event">
        <h1 class="title">Eventy</h1>
        {% include 'components/sort.html' %}
            <p style="text-align: right"><a href="/event/list/add"><input class="button" type="submit" value="Dodaj nowy event"></a>
            </p>
        <div class="content-table"></div>
        <table>
            <thead>
            <tr>
                <th class="bold-tabele"></th>
                <th class="bold-tabele">Name</th>
                <th class="bold-tabele">Active</th>
                <th class="bold-tabele">Local</th>
            </tr>
            </thead>
            <tbody>
            {{ object }}
            {% for event in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.active }}</td>
                    <td>{{ event.local }}</td>
                    <td><a href="/event/{{ event.id }}"><input class="button" type="submit" value="edit"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
