{% extends "base.html" %}
{% block content %}
<h1>HOME PAGE</h1>
<h2>{{ request.user.username }}</h2>

<a href="{%url 'register'%}">Zarejestruj sie</a>
<a href="{%url 'login'%}">Zaloguj sie</a>
<a href="{%url 'logout'%}">Wyloguj sie</a>

<h3>Statystyki</h3>
<p>Company count: {{ company_count }}</p>
<p>Companies unmanaged: {{ companies_unmanaged }}</p>
<p>User count: {{ user_count }}</p>
<br>
<p>My companies:</p>
{% for company in user_managed_companies %}
<li>{{ company }}</li>
{% endfor %}
{% endblock %}
