{% extends "base.html" %}
{% block content %}
    <main>
        <h1>Branze</h1>

        <form action="/industries/list/add">
            <input type="submit" value="Dodaj nowa branze">
        </form>

        {% include 'components/sort.html' %}

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for industry in object_list %}
                <tr>
                    <td>{{ industry.id }}</td>
                    <td>{{ industry.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
