{% extends "base.html" %}
{% block content %}
<main>
    <div class="tabele-event">
        <h1 class="title">Branże</h1>
        {% include 'components/sort.html' %}
            <p style="text-align: right"><a href="/industry/list/add"><input class="button" type="submit" value="Dodaj nowa branze"></a>
            </p>
        <div class="content-table"></div>
        <table>
            <thead>
            <tr>
                <th class="bold-tabele">ID</th>
                <th class="bold-tabele">Name</th>
            </tr>
            </thead>
            <tbody>
            {% for industry in object_list %}
                <tr>
                    <td>{{ industry.id }}</td>
                    <td>{{ industry.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
